:root {
  --white: #FFF;

  --purple-100: #D9CDF7;
  --purple-700: #271A45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--purple-700);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
